<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Посетитель</title>
</head>
<body style="text-align: center">
<hr/>
<h1>Книга библиотеки:</h1>
<hr/>
<h2>
    <br>
    <p th:text="'ID-идентификатор: ' + ${book.getBookId()}">value</p>
    <br>
    <p th:text="${'Название книги: ' + book.getTitle()}">value</p>
    <br>
    <p th:text="${'Автор: ' + book.getAuthor()}">value</p>
    <br>
    <p th:text="${'Год публикации: ' + book.yearOfPublishing}">value</p>


    <br>
    <hr/>
    <a th:href="@{/library/{bookId}/editBook(bookId=${book.getBookId()})}">Редактировать данные книги!</a>
    <br>
    <form th:method="DELETE" th:action="@{/library/{bookId}(bookId=${book.getBookId()})}">
        <input style="color: red" type="submit" value="Удалить книгу!"/>
    </form>
</h2>
</body>
</html>