<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Посетитель</title>
</head>
<body style="text-align: center">
<hr/>
<h1>Посетитель библиотеки:</h1>
<hr/>
<h2>
    <br>
    <p th:text="'ID-идентификатор: ' + ${person.getPersonId()}">value</p>
    <br>
    <p th:text="${person.getName() + ', ' + person.getYearOfBirth()}+' года рождения'">value</p>
    <br>

    <br>
    <hr/>
    <a th:href="@{/people/{personId}/editPerson(personId=${person.getPersonId()})}">Редактировать данные пользователя!</a>
    <br>
    <form th:method="DELETE" th:action="@{/people/{personId}(personId=${person.getPersonId()})}">
        <input style="color: red" type="submit" value="Удалить пользователя!"/>
    </form>
</h2>
</body>
</html>